<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/home.css">
        <link rel="stylesheet" href="css/all.min.css">
        <!--font-awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    </head>
    <body>
        <nav class="py-3 bg-black border-bottom">
            <div class="container d-flex flex-wrap">
              <div class="row w-100 justify-content-between">
                <div class="col-md-10">
                    <div class="d-flex w-100 h-100 justify-content-center align-items-center">
                        <p class="text-white m-0">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
                        <a href="#" class="text-decoration-underline text-white fw-bold ms-2">Shop Now</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false">English</a>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#">English</a></li>
                                  <!-- <li><a class="dropdown-item" href="#">Arabic</a></li> -->
                                </ul>
                              </li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
        </nav>
        <header class="py-3 border-bottom">
        <div class="container-fluid px-5">
            <div class="row px-5 mx-5">
                <div class="col-md-2 ps-0">
                    <div class="align-self-start">
                        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
                        <span class="fs-4 fw-bold">Muntag</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-center">
                        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                            <li><a href="#" class="nav-link px-4 text-black active fw-bold">Home</a></li>
                            <li><a href="#" class="nav-link px-4 text-black fw-bold">Contact</a></li>
                            <li><a href="#" class="nav-link px-4 text-black fw-bold">About</a></li>
                            <li><a href="#" class="nav-link px-4 text-black fw-bold">Sign Up</a></li>
                          </ul>
                    </div>
                </div>
                <div class="col-md-4 pe-0">
                    <div class="d-flex justify-content-end">
                        <form class="col-md-7 searchform" role="search">
                            <input type="search" class="searchinput form-control" placeholder="What are you looking for?" aria-label="Search">
                            <button type="submit" class="fa fa-search searchbutton" title="searchButton"></button>
                        </form>
                        <!-- <div class="col-md-3">
                            <div class="d-flex justify-content-around">
                                <a href="#" title="favorites"><svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 1C3.239 1 1 3.216 1 5.95C1 8.157 1.875 13.395 10.488 18.69C10.6423 18.7839 10.8194 18.8335 11 18.8335C11.1806 18.8335 11.3577 18.7839 11.512 18.69C20.125 13.395 21 8.157 21 5.95C21 3.216 18.761 1 16 1C13.239 1 11 4 11 4C11 4 8.761 1 6 1Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </a>
                                <a href="#" title="favorites"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 27C11.5523 27 12 26.5523 12 26C12 25.4477 11.5523 25 11 25C10.4477 25 10 25.4477 10 26C10 26.5523 10.4477 27 11 27Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M25 27C25.5523 27 26 26.5523 26 26C26 25.4477 25.5523 25 25 25C24.4477 25 24 25.4477 24 26C24 26.5523 24.4477 27 25 27Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3 5H7L10 22H26" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M10 16.6667H25.59C25.7056 16.6667 25.8177 16.6267 25.9072 16.5535C25.9966 16.4802 26.0579 16.3782 26.0806 16.2648L27.8806 7.26479C27.8951 7.19222 27.8934 7.11733 27.8755 7.04552C27.8575 6.97371 27.8239 6.90678 27.7769 6.84956C27.73 6.79234 27.6709 6.74625 27.604 6.71462C27.5371 6.68299 27.464 6.66661 27.39 6.66666H8" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        </header>
        <main>
            <section>
                <div class="container-fluid px-5">
                    <div class="row ps-5 mx-5">
                        <div class="col-md-3 ps-0 border-end">
                            <div class="categories">
                                <ul class="d-flex flex-column g-2 w-100 mt-4 list-unstyled">
                                    <li class="d-flex justify-content-between">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Women's Fashion">
                                            <p class="fw-bold">Women's Fashion</p> 
                                        </a>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Women's Fashion">
                                            <p class="fw-bold">Men's Fashion</p> 
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Electronics">
                                            <p class="fw-bold">Electronics</p> 
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Home & Lifestyle">
                                            <p class="fw-bold">Home & Lifestyle</p> 
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Medicine">
                                            <p class="fw-bold">Medicine</p> 
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Sports & Outdoor">
                                            <p class="fw-bold">Sports & Outdoor</p> 
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Baby & Toys">
                                            <p class="fw-bold">Baby & Toys</p> 
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Groceries & Pets">
                                            <p class="fw-bold">Groceries & Pets</p> 
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Health & Beauty">
                                            <p class="fw-bold">Health & Beauty</p> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9 px-5">
                            <div class="container-fluid mt-4 position-relative">
                                <div class="row">
                                    <div class="layout bg-black d-flex justify-content-between align-items-center px-0">
                                        <div class="layouttext col-md-4 py-5 ps-5">
                                            <p class="text-white productname">iPhone 14 Series</p>
                                            <h1 class="text-white marketingline my-2">Up to 10% off Voucher</h1>
                                            <div>
                                                <a href="#" class="text-white text-decoration-none border-bottom border-light">Shop Now</a>
                                                <a href="#" title="Shop Now" class="text-white">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.5 12H20M20 12L13 5M20 12L13 19" stroke="#FAFAFA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="layoutimg col-md-6 offset-1 pt-5 pe-5">
                                            <img src="imgs/cover-product-1.jpeg" alt="" class="w-100">
                                        </div>
                                        <div class="layouttrackers">
                                            <ul class="d-flex w-100 justify-content-center w-100 m-0 list-unstyled">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="divider d-flex justify-content-center my-5">
                <svg width="1170" height="1" viewBox="0 0 1170 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line opacity="0.3" x1="1170" y1="0.25" y2="0.25" stroke="black" stroke-width="0.5"/>
                </svg>
            </div>
            <section>
                <div class="sales-container d-flex flex-column">
                    <div class="title d-flex align-items-center">
                        <img src="./imgs/headerIcon.svg" alt="">
                        <h2>Today's</h2>
                    </div>
                    <section class="header d-flex my-5 align-items-end">
                        <h2 class="col-3 title">Flash Sales</h2>
                        <div class="timer d-flex justify-content-between col-3">
                                    <div class="unit d-flex flex-column">
                                        <span>Days</span>
                                        <span class="days">03</span>
                                    </div>
                                    <div class="unit d-flex flex-column">
                                        <span>Hours</span>
                                        <span class=hours>23</span>
                                    </div>
                                    <div class="unit d-flex flex-column">
                                        <span>minutes</span>
                                        <span class=minutes>19</span>
                                    </div>
                                    <div class="unit d-flex flex-column no-colon">
                                        <span>Seconds</span>
                                        <span class=seconds>56</span>
                                    </div>
                        </div>
                        <div class="arrows d-flex mb-2 ms-auto me-5">
                            <img src="./imgs/Fill With Left Arrow.svg" alt="" class="me-2">
                            <img src="./imgs/Fill with Right Arrow.svg" alt="">
                        </div>
                    </section>
                    <section class="products-container gap-4 d-flex mb-5">
                        <div class="img-card">
                            <div class="img-container d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/12b7f228cbf761e3e502a8a0a154df72.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>
                        <div class="img-card">
                            <div class="img-container d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/product2.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>                
                        <div class="img-card">
                            <div class="img-container d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/product3.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>
                        <div class="img-card">
                            <div class="img-container d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/product4.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>
                        <div class="img-card"> 
                            <div class="img-container  d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/12b7f228cbf761e3e502a8a0a154df72.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>
                    </section>   
                    <a href="" class="productsbtn text-center mx-auto">View All Products</a>
                </div>
            </section>
            <div class="divider d-flex justify-content-center my-5">
                <svg width="1170" height="1" viewBox="0 0 1170 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line opacity="0.3" x1="1170" y1="0.25" y2="0.25" stroke="black" stroke-width="0.5"/>
                </svg>
            </div>
            <section class="browsebycategorysection">
                <div class="container-fluid px-5">
                    <div class="row ps-4 mx-5">
                        <div class="title m-0 d-flex align-items-center">
                            <img src="./imgs/headerIcon.svg" alt="Section Title Icon" class="m-2">
                            <p class="fw-bold text-danger m-0">Categories</p>
                        </div>
                        <div class="d-flex justify-content-between ps-3 my-3">
                            <div class="text">
                                <h1 class="fw-bold">Browse By Catrgory</h1>
                            </div>
                            <div class="controlicons">
                                <span class="leftarrow">
                                    <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="23" cy="23" r="23" fill="#F5F5F5"/>
                                    <path d="M22 16L15 23L22 30M15 23H31" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                                <span class="rightarrow">
                                    <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="23" cy="23" r="23" fill="#F5F5F5"/>
                                        <path d="M14.5 23H31M31 23L24 16M31 23L24 30" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg> 
                                </span>
                            </div>
                        </div>
                        <div class="cards d-flex my-5">
                            <div class="col-md-2 px-3">
                                <div class="card d-flex flex-column align-items-center py-5">
                                    <div class="categoryicon">
                                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_986_899)">
                                                    <path d="M38.9375 6.125H17.0625C15.5523 6.125 14.3281 7.34922 14.3281 8.85938V47.1406C14.3281 48.6508 15.5523 49.875 17.0625 49.875H38.9375C40.4477 49.875 41.6719 48.6508 41.6719 47.1406V8.85938C41.6719 7.34922 40.4477 6.125 38.9375 6.125Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M25.6667 7H31.1354" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M28 44.0052V44.0305" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <line x1="15.1667" y1="39.8334" x2="40.8333" y2="39.8334" stroke="black" stroke-width="2"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_986_899">
                                                        <rect width="56" height="56" fill="white"/>
                                                    </clipPath>
                                                </defs>
                                        </svg>                                                
                                    </div>
                                    <div class="categoryname">
                                        <p class="m-0 fw-bold">Phones</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 px-3">
                                <div class="card d-flex flex-column align-items-center py-5">
                                    <div class="categoryicon">
                                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_986_202)">
                                            <path d="M46.6667 9.33337H9.33333C8.04467 9.33337 7 10.378 7 11.6667V35C7 36.2887 8.04467 37.3334 9.33333 37.3334H46.6667C47.9553 37.3334 49 36.2887 49 35V11.6667C49 10.378 47.9553 9.33337 46.6667 9.33337Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M16.3333 46.6666H39.6667" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M21 37.3334V46.6667" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M35 37.3334V46.6667" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M8 32H48" stroke="black" stroke-width="2" stroke-linecap="round"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0_986_202">
                                            <rect width="56" height="56" fill="white"/>
                                            </clipPath>
                                            </defs>
                                            </svg>                                                    
                                    </div>
                                    <div class="categoryname">
                                        <p class="m-0 fw-bold">Computers</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 px-3">
                                <div class="card d-flex flex-column align-items-center py-5">
                                    <div class="categoryicon">
                                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_986_668)">
                                            <path d="M35 14H21C17.134 14 14 17.134 14 21V35C14 38.866 17.134 42 21 42H35C38.866 42 42 38.866 42 35V21C42 17.134 38.866 14 35 14Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M21 42V49H35V42" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M21 14V7H35V14" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <line x1="24" y1="23" x2="24" y2="34" stroke="black" stroke-width="2" stroke-linecap="round"/>
                                            <line x1="28" y1="28" x2="28" y2="34" stroke="black" stroke-width="2" stroke-linecap="round"/>
                                            <line x1="32" y1="26" x2="32" y2="34" stroke="black" stroke-width="2" stroke-linecap="round"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0_986_668">
                                            <rect width="56" height="56" fill="white"/>
                                            </clipPath>
                                            </defs>
                                            </svg>                                            
                                    </div>
                                    <div class="categoryname">
                                        <p class="m-0 fw-bold">SmartWatch</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 px-3">
                                <div class="card d-flex flex-column align-items-center py-5">
                                    <div class="categoryicon">
                                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_986_6)">
                                            <path d="M11.6667 16.3334H14C15.2377 16.3334 16.4247 15.8417 17.2998 14.9665C18.175 14.0914 18.6667 12.9044 18.6667 11.6667C18.6667 11.0479 18.9125 10.4544 19.3501 10.0168C19.7877 9.57921 20.3812 9.33337 21 9.33337H35C35.6188 9.33337 36.2123 9.57921 36.6499 10.0168C37.0875 10.4544 37.3333 11.0479 37.3333 11.6667C37.3333 12.9044 37.825 14.0914 38.7002 14.9665C39.5753 15.8417 40.7623 16.3334 42 16.3334H44.3333C45.571 16.3334 46.758 16.825 47.6332 17.7002C48.5083 18.5754 49 19.7624 49 21V42C49 43.2377 48.5083 44.4247 47.6332 45.2999C46.758 46.175 45.571 46.6667 44.3333 46.6667H11.6667C10.429 46.6667 9.242 46.175 8.36683 45.2999C7.49167 44.4247 7 43.2377 7 42V21C7 19.7624 7.49167 18.5754 8.36683 17.7002C9.242 16.825 10.429 16.3334 11.6667 16.3334" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M28 37.3334C31.866 37.3334 35 34.1994 35 30.3334C35 26.4674 31.866 23.3334 28 23.3334C24.134 23.3334 21 26.4674 21 30.3334C21 34.1994 24.134 37.3334 28 37.3334Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0_986_6">
                                            <rect width="56" height="56" fill="white"/>
                                            </clipPath>
                                            </defs>
                                            </svg>                                            
                                    </div>
                                    <div class="categoryname">
                                        <p class="m-0 fw-bold">Camera</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 px-3">
                                <div class="card d-flex flex-column align-items-center py-5">
                                    <div class="categoryicon">
                                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_986_683)">
                                            <path d="M16.3333 30.3334H14C11.4227 30.3334 9.33331 32.4227 9.33331 35V42C9.33331 44.5774 11.4227 46.6667 14 46.6667H16.3333C18.9106 46.6667 21 44.5774 21 42V35C21 32.4227 18.9106 30.3334 16.3333 30.3334Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M42 30.3334H39.6667C37.0893 30.3334 35 32.4227 35 35V42C35 44.5774 37.0893 46.6667 39.6667 46.6667H42C44.5773 46.6667 46.6667 44.5774 46.6667 42V35C46.6667 32.4227 44.5773 30.3334 42 30.3334Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M9.33331 35V28C9.33331 23.0493 11.3 18.3014 14.8007 14.8007C18.3013 11.3 23.0493 9.33337 28 9.33337C32.9507 9.33337 37.6986 11.3 41.1993 14.8007C44.7 18.3014 46.6666 23.0493 46.6666 28V35" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0_986_683">
                                            <rect width="56" height="56" fill="white"/>
                                            </clipPath>
                                            </defs>
                                            </svg>
                                    </div>
                                    <div class="categoryname">
                                        <p class="m-0 fw-bold">HeadPhones</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 px-3">
                                <div class="card d-flex flex-column align-items-center py-5">
                                    <div class="categoryicon">
                                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_986_835)">
                                            <path d="M46.6666 14H9.33329C6.75596 14 4.66663 16.0893 4.66663 18.6667V37.3333C4.66663 39.9107 6.75596 42 9.33329 42H46.6666C49.244 42 51.3333 39.9107 51.3333 37.3333V18.6667C51.3333 16.0893 49.244 14 46.6666 14Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M14 28H23.3333M18.6667 23.3334V32.6667" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M35 25.6666V25.6908" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M42 30.3333V30.3574" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0_986_835">
                                            <rect width="56" height="56" fill="white"/>
                                            </clipPath>
                                            </defs>
                                            </svg>                                            
                                    </div>
                                    <div class="categoryname">
                                        <p class="m-0 fw-bold">Gaming</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="divider d-flex justify-content-center my-5">
                <svg width="1170" height="1" viewBox="0 0 1170 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line opacity="0.3" x1="1170" y1="0.25" y2="0.25" stroke="black" stroke-width="0.5"/>
                </svg>
            </div>
            <section>
                <div class="best-sales-container d-flex flex-column">
                    <div class="title d-flex align-items-center">
                        <img src="./imgs/headerIcon.svg" alt="">
                        <h2>This Month</h2>
                        <a href="" class="productsbtn text-center ms-auto">View All</a>
                    </div>
                    <section class="header d-flex my-5 align-items-end">
                        <h2 class="title">Best Selling Products</h2>
                    </section>
                    <section class="products-container d-flex justify-content-between col-12">
                        <div class="img-card">
                            <div class="img-container d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/12b7f228cbf761e3e502a8a0a154df72.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>
                        <div class="img-card">
                            <div class="img-container d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/product2.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>                
                        <div class="img-card">
                            <div class="img-container d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/product3.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>
                        <div class="img-card">
                            <div class="img-container d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/product4.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>
                    </section>   
                </div>
            </section>
            <div class="divider d-flex justify-content-center my-5">
                <svg width="1170" height="1" viewBox="0 0 1170 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line opacity="0.3" x1="1170" y1="0.25" y2="0.25" stroke="black" stroke-width="0.5"/>
                </svg>
            </div>
            <section>
                <div class="new-arrival">
                    <div class="title d-flex align-items-center">
                        <img src="./imgs/headerIcon.svg" alt="">
                        <h2>Featured</h2>
                    </div>
                    <section class="header d-flex mb-5 mt-2 align-items-end">
                        <h2 class="title">New Arrival</h2>
                    </section>
                    <div class="products d-flex justify-content-between">
                        <div class="bigger-product">
                            <div class="img-container">
                                <img src="./imgs/ps5-slim-goedkope-playstation_large 1.png" alt="">
                            </div>
                            <div class="info">
                                <div class="title">PlayStation 5</div>
                                <div class="description my-2">Black and White version of the PS5 <br> coming out on sale.</div>
                                <a href="">Shop Now</a>
                            </div>
                        </div>
                        <div class="other-products d-flex flex-column gap-4"">
                            <div class="bigger-one">
                                <div class="img-container">
                                    <img src="./imgs/attractive-woman-wearing-hat-posing-black-background 1.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="title">Women’s Collections</div>
                                    <div class="description my-2">Featured woman collections that <br> give you another vibe.</div>
                                    <a href="">Shop Now</a>
                                </div>
                            </div>
                            <div class="other d-flex gap-4">
                                <div class="product-one">
                                    <div class="img-container">
                                        <img src="./imgs/speakers.png" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="title">Speakers</div>
                                        <div class="description my-1">Amazon wireless speakers</div>
                                        <a href="">Shop Now</a>
                                    </div>
                                </div>
                                <div class="product-two">
                                    <div class="img-container">
                                        <img src="./imgs/perfume.png" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="title">Perfume</div>
                                        <div class="description my-1">GUCCI INTENSE OUD EDP</div>
                                        <a href="">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="divider d-flex justify-content-center my-5">
                <svg width="1170" height="1" viewBox="0 0 1170 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line opacity="0.3" x1="1170" y1="0.25" y2="0.25" stroke="black" stroke-width="0.5"/>
                </svg>
            </div>
            <section>
                <div class="features">
                    <div class="features-container d-flex justify-content-between">
                        <div class="feature d-flex flex-column align-items-center">
                            <div class="icon">
                                <img src="./imgs/Services.png" alt="">
                            </div>
                            <div class="title mt-4">
                                <h2>FREE AND FAST DELIVERY</h2>
                            </div>
                            <div class="description">Free delivery for all orders over $140</div>
                        </div>
                        <div class="feature d-flex flex-column align-items-center">
                            <div class="icon">
                                <img src="./imgs/Services2.png" alt="">
                            </div>
                            <div class="title mt-4">
                                <h2>24/7 CUSTOMER SERVICE</h2>
                            </div>
                            <div class="description">Friendly 24/7 customer support</div>
                        </div>
                        <div class="feature d-flex flex-column align-items-center">
                            <div class="icon">
                                <img src="./imgs/Services3.png" alt="">
                            </div>
                            <div class="title mt-4">
                                <h2>MONEY BACK GUARANTEE</h2>
                            </div>
                            <div class="description">We reurn money within 30 days</div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer> 
            <div  class="content d-flex justify-content-between">
                <ul >
                    <li><h3>Muntag</h3></li>
                    <li class="my-4"><h6>Subscribe</h6></li>
                    <li class="mb-3 fw-light">Get 10% off your first order</li>
                    <li>
                        <div class="input-container">
                            <input type="email" name="" id="" placeholder="Enter your email">
                            <img src="./imgs/icon-send.svg" alt="">
                        </div>
                    </li>
                </ul>
                <ul >
                    <li class="mb-4"><h5>Support</h5></li>
                    <li>111 Bijoy sarani, Dhaka,<br>  DH 1515, Bangladesh.</li>
                    <li class="my-3">muntag@gmail.com</li>
                    <li>+88015-88888-9999</li>
                </ul>
                <ul >
                    <li class="mb-4"><h5>Account</h5></li>
                    <li><a href="">My Account</a></li>
                    <li class="my-3"><a href="">Login / Register</a></li>
                    <li><a href="">Cart</a></li>
                    <li class="my-3"><a href="">Wishlist</a></li>
                    <li><a href="">Shop</a></li>
                </ul>
                <ul >
                    <li class="mb-4"><h5>Quick Link</h5></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li class="my-3"><a href="">Terms Of Use</a></li>
                    <li class="mb-3"><a href="">FAQ</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
                <ul>
                    <li class="mb-4"><h5>Download App</h5></li>
                    <li class="fw-light">Save $3 with App New User Only</li>
                    <li>
                        <div class="d-flex mt-1 mb-4">
                            <div class="me-1"><img src="./imgs/Qr Code.png" alt=""></div>
                            <div class="d-flex flex-column apps">
                                <img src="./imgs/GooglePlaysvg.svg" alt="">
                                <img src="./imgs/AppStoresvg.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <ul class="d-flex icons">
                            <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li class="mx-4"><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li class="me-4"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <hr>
            <p class="text-center pb-4">© Copyright MMA 2024. All right reserved</p>
        </footer>
        <script src="js/home.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
    </body>
</html>