<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/home.css">
        <link rel="stylesheet" href="css/all.min.css">
        <!--font-awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    </head>
    <body>
        <nav class="py-3 bg-black border-bottom">
            <div class="container d-flex flex-wrap">
              <div class="row w-100 justify-content-between">
                <div class="col-md-10">
                    <div class="d-flex w-100 h-100 justify-content-center align-items-center">
                        <p class="text-white m-0">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
                        <a href="#" class="text-decoration-underline text-white fw-bold ms-2">Shop Now</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false">English</a>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#">English</a></li>
                                  <!-- <li><a class="dropdown-item" href="#">Arabic</a></li> -->
                                </ul>
                              </li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
        </nav>
        <header class="py-3 border-bottom">
        <div class="container-fluid px-5">
            <div class="row px-5 mx-5">
                <div class="col-md-2 ps-0">
                    <div class="align-self-start">
                        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
                        <span class="fs-4 fw-bold">Muntag</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-center">
                        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                            <li><a href="#" class="nav-link px-4 text-black active fw-bold">Home</a></li>
                            <li><a href="#" class="nav-link px-4 text-black fw-bold">Contact</a></li>
                            <li><a href="#" class="nav-link px-4 text-black fw-bold">About</a></li>
                            <li><a href="#" class="nav-link px-4 text-black fw-bold">Sign Up</a></li>
                          </ul>
                    </div>
                </div>
                <div class="col-md-4 pe-0">
                    <div class="d-flex justify-content-end">
                        <form class="col-md-7 searchform" role="search">
                            <input type="search" class="searchinput form-control" placeholder="What are you looking for?" aria-label="Search">
                            <button type="submit" class="fa fa-search searchbutton" title="searchButton"></button>
                        </form>
                        <!-- <div class="col-md-3">
                            <div class="d-flex justify-content-around">
                                <a href="#" title="favorites"><svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 1C3.239 1 1 3.216 1 5.95C1 8.157 1.875 13.395 10.488 18.69C10.6423 18.7839 10.8194 18.8335 11 18.8335C11.1806 18.8335 11.3577 18.7839 11.512 18.69C20.125 13.395 21 8.157 21 5.95C21 3.216 18.761 1 16 1C13.239 1 11 4 11 4C11 4 8.761 1 6 1Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </a>
                                <a href="#" title="favorites"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 27C11.5523 27 12 26.5523 12 26C12 25.4477 11.5523 25 11 25C10.4477 25 10 25.4477 10 26C10 26.5523 10.4477 27 11 27Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M25 27C25.5523 27 26 26.5523 26 26C26 25.4477 25.5523 25 25 25C24.4477 25 24 25.4477 24 26C24 26.5523 24.4477 27 25 27Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3 5H7L10 22H26" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M10 16.6667H25.59C25.7056 16.6667 25.8177 16.6267 25.9072 16.5535C25.9966 16.4802 26.0579 16.3782 26.0806 16.2648L27.8806 7.26479C27.8951 7.19222 27.8934 7.11733 27.8755 7.04552C27.8575 6.97371 27.8239 6.90678 27.7769 6.84956C27.73 6.79234 27.6709 6.74625 27.604 6.71462C27.5371 6.68299 27.464 6.66661 27.39 6.66666H8" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        </header>
        <main>
            <section>
                <div class="container-fluid px-5">
                    <div class="row ps-5 mx-5">
                        <div class="col-md-3 ps-0 border-end">
                            <div class="categories">
                                <ul class="d-flex flex-column g-2 w-100 mt-4 list-unstyled">
                                    <li class="d-flex justify-content-between">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Women's Fashion">
                                            <p class="fw-bold">Women's Fashion</p> 
                                        </a>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Women's Fashion">
                                            <p class="fw-bold">Men's Fashion</p> 
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Electronics">
                                            <p class="fw-bold">Electronics</p> 
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Home & Lifestyle">
                                            <p class="fw-bold">Home & Lifestyle</p> 
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Medicine">
                                            <p class="fw-bold">Medicine</p> 
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Sports & Outdoor">
                                            <p class="fw-bold">Sports & Outdoor</p> 
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Baby & Toys">
                                            <p class="fw-bold">Baby & Toys</p> 
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Groceries & Pets">
                                            <p class="fw-bold">Groceries & Pets</p> 
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="link-dark link-underline-opacity-0" title="Health & Beauty">
                                            <p class="fw-bold">Health & Beauty</p> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9 px-5">
                            <div class="container-fluid mt-4 position-relative">
                                <div class="row">
                                    <div class="layout bg-black d-flex justify-content-between align-items-center px-0">
                                        <div class="layouttext col-md-4 py-5 ps-5">
                                            <p class="text-white productname">iPhone 14 Series</p>
                                            <h1 class="text-white marketingline my-2">Up to 10% off Voucher</h1>
                                            <div>
                                                <a href="#" class="text-white text-decoration-none border-bottom border-light">Shop Now</a>
                                                <a href="#" title="Shop Now" class="text-white">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3.5 12H20M20 12L13 5M20 12L13 19" stroke="#FAFAFA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="layoutimg col-md-6 offset-1 pt-5 pe-5">
                                            <img src="imgs/cover-product-1.jpeg" alt="" class="w-100">
                                        </div>
                                        <div class="layouttrackers">
                                            <ul class="d-flex w-100 justify-content-center w-100 m-0 list-unstyled">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="divider d-flex justify-content-center my-5">
                <svg width="1170" height="1" viewBox="0 0 1170 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line opacity="0.3" x1="1170" y1="0.25" y2="0.25" stroke="black" stroke-width="0.5"/>
                </svg>
            </div>
            <section>
                <div class="sales-container d-flex flex-column">
                    <div class="title d-flex align-items-center">
                        <img src="./imgs/headerIcon.svg" alt="">
                        <h2>Today's</h2>
                    </div>
                    <section class="header d-flex my-5 align-items-end">
                        <h2 class="col-3 title">Flash Sales</h2>
                        <div class="timer d-flex justify-content-between col-3">
                                    <div class="unit d-flex flex-column">
                                        <span>Days</span>
                                        <span class="days">03</span>
                                    </div>
                                    <div class="unit d-flex flex-column">
                                        <span>Hours</span>
                                        <span class=hours>23</span>
                                    </div>
                                    <div class="unit d-flex flex-column">
                                        <span>minutes</span>
                                        <span class=minutes>19</span>
                                    </div>
                                    <div class="unit d-flex flex-column no-colon">
                                        <span>Seconds</span>
                                        <span class=seconds>56</span>
                                    </div>
                        </div>
                        <div class="arrows d-flex mb-2 ms-auto me-5">
                            <img src="./imgs/Fill With Left Arrow.svg" alt="" class="me-2">
                            <img src="./imgs/Fill with Right Arrow.svg" alt="">
                        </div>
                    </section>
                    <section class="products-container gap-4 d-flex mb-5">
                        <div class="img-card">
                            <div class="img-container d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/12b7f228cbf761e3e502a8a0a154df72.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>
                        <div class="img-card">
                            <div class="img-container d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/product2.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>                
                        <div class="img-card">
                            <div class="img-container d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/product3.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>
                        <div class="img-card">
                            <div class="img-container d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/product4.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>
                        <div class="img-card"> 
                            <div class="img-container  d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/12b7f228cbf761e3e502a8a0a154df72.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>
                    </section>   
                    <a href="" class="productsbtn text-center mx-auto">View All Products</a>
                </div>
            </section>
            <div class="divider d-flex justify-content-center my-5">
                <svg width="1170" height="1" viewBox="0 0 1170 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line opacity="0.3" x1="1170" y1="0.25" y2="0.25" stroke="black" stroke-width="0.5"/>
                </svg>
            </div>
            <section class="browse-by-category-section">
                <div class="container-fluid px-5">
                    <div class="row ps-4 mx-5">
                        <div class="title m-0 d-flex align-items-center">
                            <img src="./imgs/headerIcon.svg" alt="Section Title Icon" class="m-2">
                            <p class="fw-bold text-danger m-0">Categories</p>
                        </div>
                        <div class="d-flex justify-content-between ps-3 my-3">
                            <div class="text">
                                <h1 class="fw-bold">Browse By Catrgory</h1>
                            </div>
                            <div class="controlicons">
                                <span class="leftarrow">
                                    <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="23" cy="23" r="23" fill="#F5F5F5"/>
                                    <path d="M22 16L15 23L22 30M15 23H31" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                                <span class="rightarrow">
                                    <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="23" cy="23" r="23" fill="#F5F5F5"/>
                                        <path d="M14.5 23H31M31 23L24 16M31 23L24 30" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg> 
                                </span>
                            </div>
                        </div>
                        <div class="cards d-flex flex-wrap justify-content-center my-5">
                        </div>
                    </div>
                </div>
            </section>
            <div class="divider d-flex justify-content-center my-5">
                <svg width="1170" height="1" viewBox="0 0 1170 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line opacity="0.3" x1="1170" y1="0.25" y2="0.25" stroke="black" stroke-width="0.5"/>
                </svg>
            </div>
            <section>
                <div class="best-sales-container d-flex flex-column">
                    <div class="title d-flex align-items-center">
                        <img src="./imgs/headerIcon.svg" alt="">
                        <h2>This Month</h2>
                        <a href="" class="productsbtn text-center ms-auto">View All</a>
                    </div>
                    <section class="header d-flex my-5 align-items-end">
                        <h2 class="title">Best Selling Products</h2>
                    </section>
                    <section class="products-container d-flex justify-content-between col-12">
                        <div class="img-card">
                            <div class="img-container d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/12b7f228cbf761e3e502a8a0a154df72.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>
                        <div class="img-card">
                            <div class="img-container d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/product2.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>                
                        <div class="img-card">
                            <div class="img-container d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/product3.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>
                        <div class="img-card">
                            <div class="img-container d-flex flex-column align-items-center">
                                <div class="img my-auto">
                                    <img src="./imgs/product4.png" alt="" class="w-100">
                                </div>
                                <div class="icons d-flex flex-column">
                                    <img src="./imgs/Fill Heart.svg" alt="" class="mb-2">
                                    <img src="./imgs/Fill Eye.svg" alt="">
                                </div>
                                <div class="addToCart">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                            <div class="info">
                                <div class="title mt-2">HAVIT HV-G92 Gamepad</div>
                                <div class="price my-2">$120 <span class="oldPrice ms-2">$160</span></div>
                                <div class="review d-flex">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="" class="me-1">
                                    <img src="./imgs/star.svg" alt="">
                                    <div class="quantity ms-2">(88)</div>
                                </div>
                            </div>
                        </div>
                    </section>   
                </div>
            </section>
            <div class="divider d-flex justify-content-center my-5">
                <svg width="1170" height="1" viewBox="0 0 1170 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line opacity="0.3" x1="1170" y1="0.25" y2="0.25" stroke="black" stroke-width="0.5"/>
                </svg>
            </div>
            <section class="explore-products-section">
                <div class="container-fluid px-5">
                    <div class="row ps-4 mx-5">
                        <div class="title m-0 d-flex align-items-center">
                            <img src="./imgs/headerIcon.svg" alt="Section Title Icon" class="m-2">
                            <p class="fw-bold text-danger m-0">Our Products</p>
                        </div>
                        <div class="d-flex justify-content-between ps-3 my-3">
                            <div class="text">
                                <h1 class="fw-bold">Explore Our Products</h1>
                            </div>
                            <div class="controlicons">
                                <span class="leftarrow">
                                    <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="23" cy="23" r="23" fill="#F5F5F5"/>
                                    <path d="M22 16L15 23L22 30M15 23H31" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                                <span class="rightarrow">
                                    <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="23" cy="23" r="23" fill="#F5F5F5"/>
                                        <path d="M14.5 23H31M31 23L24 16M31 23L24 30" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg> 
                                </span>
                            </div>
                        </div>
                        <div class="cards d-flex flex-wrap g-4 my-5">
                        </div>
                    </div>
                </div>
            </section>
            <div class="divider d-flex justify-content-center my-5">
                <svg width="1170" height="1" viewBox="0 0 1170 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line opacity="0.3" x1="1170" y1="0.25" y2="0.25" stroke="black" stroke-width="0.5"/>
                </svg>
            </div>
            <section>
                <div class="new-arrival">
                    <div class="title d-flex align-items-center">
                        <img src="./imgs/headerIcon.svg" alt="">
                        <h2>Featured</h2>
                    </div>
                    <section class="header d-flex mb-5 mt-2 align-items-end">
                        <h2 class="title">New Arrival</h2>
                    </section>
                    <div class="products d-flex justify-content-between">
                        <div class="bigger-product">
                            <div class="img-container">
                                <img src="./imgs/ps5-slim-goedkope-playstation_large 1.png" alt="">
                            </div>
                            <div class="info">
                                <div class="title">PlayStation 5</div>
                                <div class="description my-2">Black and White version of the PS5 <br> coming out on sale.</div>
                                <a href="">Shop Now</a>
                            </div>
                        </div>
                        <div class="other-products d-flex flex-column gap-4"">
                            <div class="bigger-one">
                                <div class="img-container">
                                    <img src="./imgs/attractive-woman-wearing-hat-posing-black-background 1.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="title">Women’s Collections</div>
                                    <div class="description my-2">Featured woman collections that <br> give you another vibe.</div>
                                    <a href="">Shop Now</a>
                                </div>
                            </div>
                            <div class="other d-flex gap-4">
                                <div class="product-one">
                                    <div class="img-container">
                                        <img src="./imgs/speakers.png" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="title">Speakers</div>
                                        <div class="description my-1">Amazon wireless speakers</div>
                                        <a href="">Shop Now</a>
                                    </div>
                                </div>
                                <div class="product-two">
                                    <div class="img-container">
                                        <img src="./imgs/perfume.png" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="title">Perfume</div>
                                        <div class="description my-1">GUCCI INTENSE OUD EDP</div>
                                        <a href="">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="divider d-flex justify-content-center my-5">
                <svg width="1170" height="1" viewBox="0 0 1170 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line opacity="0.3" x1="1170" y1="0.25" y2="0.25" stroke="black" stroke-width="0.5"/>
                </svg>
            </div>
            <section>
                <div class="features">
                    <div class="features-container d-flex justify-content-between">
                        <div class="feature d-flex flex-column align-items-center">
                            <div class="icon">
                                <img src="./imgs/Services.png" alt="">
                            </div>
                            <div class="title mt-4">
                                <h2>FREE AND FAST DELIVERY</h2>
                            </div>
                            <div class="description">Free delivery for all orders over $140</div>
                        </div>
                        <div class="feature d-flex flex-column align-items-center">
                            <div class="icon">
                                <img src="./imgs/Services2.png" alt="">
                            </div>
                            <div class="title mt-4">
                                <h2>24/7 CUSTOMER SERVICE</h2>
                            </div>
                            <div class="description">Friendly 24/7 customer support</div>
                        </div>
                        <div class="feature d-flex flex-column align-items-center">
                            <div class="icon">
                                <img src="./imgs/Services3.png" alt="">
                            </div>
                            <div class="title mt-4">
                                <h2>MONEY BACK GUARANTEE</h2>
                            </div>
                            <div class="description">We reurn money within 30 days</div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer> 
            <div  class="content d-flex justify-content-between">
                <ul >
                    <li><h3>Muntag</h3></li>
                    <li class="my-4"><h6>Subscribe</h6></li>
                    <li class="mb-3 fw-light">Get 10% off your first order</li>
                    <li>
                        <div class="input-container">
                            <input type="email" name="" id="" placeholder="Enter your email">
                            <img src="./imgs/icon-send.svg" alt="">
                        </div>
                    </li>
                </ul>
                <ul >
                    <li class="mb-4"><h5>Support</h5></li>
                    <li>111 Bijoy sarani, Dhaka,<br>  DH 1515, Bangladesh.</li>
                    <li class="my-3">muntag@gmail.com</li>
                    <li>+88015-88888-9999</li>
                </ul>
                <ul >
                    <li class="mb-4"><h5>Account</h5></li>
                    <li><a href="">My Account</a></li>
                    <li class="my-3"><a href="">Login / Register</a></li>
                    <li><a href="">Cart</a></li>
                    <li class="my-3"><a href="">Wishlist</a></li>
                    <li><a href="">Shop</a></li>
                </ul>
                <ul >
                    <li class="mb-4"><h5>Quick Link</h5></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li class="my-3"><a href="">Terms Of Use</a></li>
                    <li class="mb-3"><a href="">FAQ</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
                <ul>
                    <li class="mb-4"><h5>Download App</h5></li>
                    <li class="fw-light">Save $3 with App New User Only</li>
                    <li>
                        <div class="d-flex mt-1 mb-4">
                            <div class="me-1"><img src="./imgs/Qr Code.png" alt=""></div>
                            <div class="d-flex flex-column apps">
                                <img src="./imgs/GooglePlaysvg.svg" alt="">
                                <img src="./imgs/AppStoresvg.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <ul class="d-flex icons">
                            <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li class="mx-4"><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li class="me-4"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <hr>
            <p class="text-center pb-4">© Copyright MMA 2024. All right reserved</p>
        </footer>
        <script src="js/home.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
    </body>
</html>