<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/all.min.css">
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>
    <nav class="py-3 bg-black border-bottom">
        <div class="container d-flex flex-wrap">
          <div class="row w-100 justify-content-between">
            <div class="col-md-10">
                <div class="d-flex w-100 h-100 justify-content-center align-items-center">
                    <p class="text-white m-0">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
                    <a href="#" class="text-decoration-underline text-white fw-bold ms-2">Shop Now</a>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false">English</a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">English</a></li>
                              <!-- <li><a class="dropdown-item" href="#">Arabic</a></li> -->
                            </ul>
                          </li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
    </nav>
    <header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
        <div class="row">
            <div class="col-md-2">
                <div>
                    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                    <span class="fs-4 fw-bold">Muntag</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-4 text-black active fw-bold">Home</a></li>
                    <li><a href="#" class="nav-link px-4 text-black fw-bold">Contact</a></li>
                    <li><a href="#" class="nav-link px-4 text-black fw-bold">About</a></li>
                    <li><a href="#" class="nav-link px-4 text-black fw-bold">Sign Up</a></li>
                  </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-around">
                <form class="col-md-6" role="search">
                    <input type="search" class="form-control" placeholder="What are you looking for?" aria-label="Search">
                </form>
            </div>
        </div>
    </div>
    </header>
    <main>
        <div class="login-container d-flex align-items-lg-center">
            <section class="col-7 img-container">
                <img src="./imgs/Signup.jpeg" alt="" class="w-100">
            </section>
            <section class="col-3">
                <h2>Log in to Muntag</h2>
                <p class="mb-5 mt-2">Enter your details below</p>
                <form action="" class="d-flex flex-column col-6 w-100">
                    <input type="text" placeholder="Email or Phone Number">
                    <input type="password" placeholder="Password">
                    <div class="buttons d-flex justify-content-between align-items-center">
                        <button type="submit">Log in</button>
                        <a href="">Forget Password?</a>
                    </div>
                </form>
            </section>
        </div>
    </main>
    <footer> 
        <div  class="content d-flex justify-content-between">
            <ul >
                <li><h3>Muntag</h3></li>
                <li class="my-4"><h6>Subscribe</h6></li>
                <li class="mb-3 fw-light">Get 10% off your first order</li>
                <li>
                    <div class="input-container">
                        <input type="email" name="" id="" placeholder="Enter your email">
                        <img src="./imgs/icon-send.svg" alt="">
                    </div>
                </li>
            </ul>
            <ul >
                <li class="mb-4"><h5>Support</h5></li>
                <li>111 Bijoy sarani, Dhaka,<br>  DH 1515, Bangladesh.</li>
                <li class="my-3">muntag@gmail.com</li>
                <li>+88015-88888-9999</li>
            </ul>
            <ul >
                <li class="mb-4"><h5>Account</h5></li>
                <li><a href="">My Account</a></li>
                <li class="my-3"><a href="">Login / Register</a></li>
                <li><a href="">Cart</a></li>
                <li class="my-3"><a href="">Wishlist</a></li>
                <li><a href="">Shop</a></li>
            </ul>
            <ul >
                <li class="mb-4"><h5>Quick Link</h5></li>
                <li><a href="">Privacy Policy</a></li>
                <li class="my-3"><a href="">Terms Of Use</a></li>
                <li class="mb-3"><a href="">FAQ</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <ul>
                <li class="mb-4"><h5>Download App</h5></li>
                <li class="fw-light">Save $3 with App New User Only</li>
                <li>
                    <div class="d-flex mt-1 mb-4">
                        <div class="me-1"><img src="./imgs/Qr Code.png" alt=""></div>
                        <div class="d-flex flex-column apps">
                            <img src="./imgs/GooglePlaysvg.svg" alt="">
                            <img src="./imgs/AppStoresvg.svg" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <ul class="d-flex icons">
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li class="mx-4"><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li class="me-4"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <hr>
        <p class="text-center pb-4">© Copyright MMA 2024. All right reserved</p>
    </footer>
    <script src="js/login.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>