.accountform {
    position: relative;
}

.outlinehover {
    position: relative;
}

.outlinehover:hover {
    color: white !important;
}

.googlesignup {
    position: relative;
}

.googleicon {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.inputcontainer {
    position: relative;
}

.inputfield {
    position: relative;
    z-index: 1 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.empty:focus {
    border: 3px solid #000 !important;
    border-radius: 0.375rem !important;
}
.is-valid{
    border: 3px solid #198754 !important;
    border-radius: 0.375rem !important;
}
.is-invalid{
    border: 3px solid #dc3545 !important;
    border-radius: 0.375rem !important;
}


.floatinglabel {
    position: absolute;
    z-index: 3 !important;
    left: 2.5%;
    transition: 0.5s all ease;
    cursor: text;
}

.inputfield:not(:focus) + .floatinglabel{
    top: 20%;
    color: rgba(0, 0, 0, 0.6);
}

.inputfield:focus + .floatinglabel,
.inputfield:not(:placeholder-shown) + .floatinglabel {
    display: block;
    top: -35%;
    color: #000;
    background-color: #FFF;
}