.active {
    position: relative;
}
.active::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: black;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}

.searchform {
    position: relative;
}

.searchinput {
    position: relative;
}

.searchbutton {
    position: absolute;
    background-color: transparent;
    width: 50px;
    height: 100%;
    right: 0;
    top: 0;
    outline: none;
    border: 0;
    color: rgba(0, 0, 0, 0.3);
    transition: 0.4s all ease;
}

.searchbutton:hover {
    color: rgb(0, 0, 0);
}

.accountform {
    position: relative;
}

.outlinehover {
    position: relative;
}

.outlinehover:hover {
    color: white !important;
}

.googlesignup {
    position: relative;
}

.googleicon {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.inputcontainer {
    position: relative;
}

.inputfield {
    position: relative;
    z-index: 1 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.empty:focus {
    border: 3px solid #000 !important;
    border-radius: 0.375rem !important;
}
.is-valid{
    border: 3px solid #198754 !important;
    border-radius: 0.375rem !important;
}
.is-invalid{
    border: 3px solid #dc3545 !important;
    border-radius: 0.375rem !important;
}


.floatinglabel {
    position: absolute;
    z-index: 3 !important;
    left: 2.5%;
    transition: 0.5s all ease;
    cursor: text;
}

.inputfield:not(:focus) + .floatinglabel{
    top: 20%;
    color: rgba(0, 0, 0, 0.6);
}

.inputfield:focus + .floatinglabel,
.inputfield:not(:placeholder-shown) + .floatinglabel {
    display: block;
    top: -35%;
    color: #000;
    background-color: #FFF;
}

footer{
    background-color: black;
}
footer p{
    margin: 0;
}
.content{
    padding: 80px 135px 40px 135px;
}
footer ul{
    list-style: none;
    padding: 0;
}
footer ul li{
color: white;
font-weight: 300;
font-size: 16px;
}
footer ul li h6{
    font-size: 20px;
    font-weight: 400;

}
footer .apps img{
    cursor: pointer;
}
footer ul li input{
    background-color: inherit;
    outline: none;
    border: 2px white solid;
    color: white;
    height: 46px;
    padding-left: 16px;
    padding-right: 40px;
    border-radius: 4px;
    width: 100%;
}
footer ul li .input-container{
    position: relative;
    width: 82%;
}
footer ul li .input-container img{
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    cursor: pointer;
}
footer ul li a{
    text-decoration: none;
    color: white;
}
footer .icons li a i{
    font-size: 18px;
}
